@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Stolzl Book';
  src: url('/fonts/Stolzl Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-white;
  @apply font-stolzl;
}

.text-gradient {
  background: linear-gradient(90deg,#32255e,#68368b 32.52%,#194fa1 67.07%,#1a99b0 99.87%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}